{% extends "layout.html" %}
{% block content %}
<header>
	<div style="width:50%;margin:auto;height:80px;">
		<img style="text-align:center;margin:auto" src="../static/img/StackSearch.gif"/>  
	</div>
	<script>
			function show(divid) {
				console.log(divid);
				var newida = divid+"_ans";
				console.log(newida);
				console.log("Inside crappy script");
		      if(document.getElementById(newida).style.display=='none') {
		      document.getElementById(newida).style.display='block';
		      return;
		    }
		    if(document.getElementById(newida).style.display=='block') {
		      document.getElementById(newida).style.display='none';
		      return;
		    }
		}
	</script>

</header>
    <form method="post" action="/" enctype=multipart/form-data>
	    <p><div style="width:60%;margin:auto;"><label></label> <input class="query" type="text" name="txt_query" required>
	    <button type="submit">Go</button></p></div>
	    <div class ="content">
	    <div class="left"> 
	    	{% if categories %}
	    	<ul class="entries">
	    	<h2>Categories</h2>
	    	<label><input id="category" type="checkbox" name="all" value="all"/> All </label>
			  {% for k_par,v_par in categories[0].items() %}
			    <li>
			    	<label><input id="category" type="checkbox" name={{ k_par }} value={{k_par|replace(" ", "_")}} />{{ k_par }} ({{ v_par }}) </label>
			    	{% if categories[1] %}
			    	<ul class="entries">
			    		 {% for k_child,v_children in categories[1].items() %}
			    		 	{% if (k_child==k_par) %}
					    		 
					    		 	{% for v_child in v_children %}

					    		 	<li>
					    		 	<label><input id="category" type="checkbox" name={{ v_child[0] }} value={{ v_child[0]|replace(" ", "_")}} />{{ v_child[0] }} ({{ v_child[1] }}) </label><br>

						    		
							    	{% if categories[2] %}
								    	<ul class="entries">
								    		 {% for k_grand,v_grandchildren in categories[2].items() %}
									    		 {% if (k_grand==k_child) %}
									    		 	{% for v_grand in v_grandchildren %}
											    		 <li>
											    		 	<label><input id="category" type="checkbox" name={{ v_grand[0] }} value={{ v_grand[0]|replace(" ", "_") }}/>{{ v_grand[0] }} ({{ v_grand[1] }})<label><br>
											    		 	
												    	</li>
										    		{% endfor %}
										    	{% endif %}
									    	{% endfor %}
									    </ul>

						    		{% endif %}
						    		{% endfor %}
						    		{% endif %}
						    	</li>
						    	
				    	{% endfor %}
				    </ul>
			    	{% endif %}
			    </li>
			  {% endfor %}
			</ul>
	    	{%else%}
	    	<!--<div id ="empty">
	    		<h2>No results to display</h2>
	    	</div>-->
	    	{% endif %}
	    </div> 


	    <div class="answers">



	    </div>
	    </div>
	    </div>
    </form>
{% endblock %}