{% extends "layout.html" %}
{% block content %}
    <h1>Match Glass</h1>
    <form method="post" action="" enctype=multipart/form-data>
	    <p><label>Name: </label> <input type="text" name="txt_name" required>
	    <label>Email: </label> <input type="text" name="txt_email" required></p>
	    <div id="left">
	    	<img src="static/img/ror9.jpg"/>    
	    </div>
	    <div id ="right">
	        <p><label>What does this look like?</label></p>
	        <input type="radio" name="group1" value="value1"> {{ options[0] }}<br>
			<input type="radio" name="group1" value="value2" checked> {{ options[1] }}<br>
		<p><button type="button" id="button">Click</button></p>
	    </div>
	   
	    <div id="colors">
	    	<p>Pick the color (to be filled by admin)</p>
	    	<input type="checkbox" name="color" value="Red">Red<br>
			<input type="checkbox" name="color" value="Blue">Blue<br>
			<input type="checkbox" name="color" value="Green">Green<br>
			<p><button type="submit">Submit</button></p>
	    </div>
    </form>
{% endblock %}