{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('get_file') }}">Go back to the Main Page</a><br><br>
    <h1>Fire away your queries!</h1><br>
     <div class = "help">
    	Use sql query syntax to enter query string that follows WHERE.<br><br>
    	Column names are:
    	tag, type, author, journal, keywords, pages, title, volume, year, collection_name <br><br>
    	To use wildcards use LIKE and employ '%' as multiple character, _ as single character.<br><br>
    	Make sure you explicitly put string in quotes.
    </div>
    <form method="post" action="" enctype=multipart/form-data>
    	<p><label>Collection name (optional)</label> <input type="text" name="txt_collectionname"></p>
        <p><label>Query String:</label> <input type="text" name="txt_querystring" required></p>
        <p><button type="submit">Query</button></p>
    </form>

    <div class="results">
    {% if results  %}
    <h2> Your query was:</h2> {{query}}<br><br>
    <h2> Results </h2>
    {% for collection in results %}
    {% for data in collection %}
    <b>{{data[0]}}</b> : {{data[1]}}
    <br>
    {% endfor %}
    <hr>
    {% endfor %}
    {% else %}

    {% if not collection  %}
	    {% if query and status=="success" %}
	        <h2> Your query was:</h2> {{query}}<br>
	    	<h3>No results found!<h3>
	    {% endif %}
    {% endif %} 

    {% if status=="failure"  %}
    <h3>Looks like something is wrong in your query syntax, check again!<h3>
    {% endif %}

    {% endif %}
	</div>


{% endblock %}