/* This is a stylesheet written in Sass, a language for generating CSS 
stylesheets from sass-lang.com
To compile: 
 $ sass --watch <filename>.scss:<filename>.css
*/

$main_font_family: verdana;
$main_text_color: #666;
$main_background_color: white;

$main_page_height: 700px;
$ratio: 1.61;
$base_measure: 500px;

$tall_row: $base_measure;
$medium_row: $tall_row/$ratio;
$short_row: $medium_row/$ratio;
$tiny_row: $short_row/$ratio;

$huge_space: $tiny_row/$ratio/$ratio;
$big_space: $huge_space/$ratio;
$medium_space: $big_space/$ratio;
$small_space: $medium_space/$ratio;
$space: $small_space/$ratio;
$tiny_space: $space/$ratio;

$wide_column: $tall_row*$ratio;
$medium_column: $wide_column/$ratio;
$narrow_column: $medium_column/$ratio;
$tiny_column: $narrow_column/$ratio;

$big_icon: $big_space;
$medium_icon: $medium_space;
$small_icon: $small_space;

$main_font_size: $small_space;

$border_width: 1px;
$border_color: #AAA;
$color_adjust_amount: 20;
$text_color_adjust_amount: 30;
$light_border_color: lighten($border_color, $color_adjust_amount);
$border_style: solid;

$categories_width: $narrow_column;
$search_results_width: $wide_column;
$search_results_height: $tall_row;

$selected_color: LightSkyBlue;
$selectable_color: lighten($selected_color, $color_adjust_amount);
$selected_text_color: white;

$active_text_color: $main_text_color;
$inactive_text_color: lighten($main_text_color, $text_color_adjust_amount);

/** Mixins **/

@mixin border($side, $color: $border_color, $style: $border_style) {
    @if ($side != all) {
        border-#{$side}: $border_width $style $color;
    } @else {
        border: $border_width $style $color;
    }
}

@mixin padded($size:0px, $margin:0px) {
    padding: $size;
    margin: $margin;
}

@mixin panel {
    @include padded($space, $tiny_space);
}

@mixin pane {
    @include padded($small_space, $tiny_space);
}

@mixin search_result {
    @include padded($size:$medium_space);
    @include border($side:bottom, $color:$light_border_color);
}

@mixin category_label {
    list_style_type: none;
    @include padded($margin: $tiny_space);
    span {
        @include padded($margin: $tiny_space);
    }
    
    @include selectable;
    @include activatable;
    &[is_pinned=true] {
        @include select;
    }
    &[is_removed=true] {
        span.label {
            text-decoration: line-through;
        }
    }
}

@mixin select($color: $selected_color) {
    @include border($side:all, $color:$color);
}

@mixin selectable($color: $selectable_color) {
    &:hover {
        background: $color;
    };
    cursor: default;
}

@mixin inactive($color: $inactive_text_color) {
    color: $color;
}

@mixin active($color: $active_text_color) {
    color: $color;
}

@mixin activatable($active_color:$active_text_color, $inactive_color: $inactive_text_color) {
    &[active=false] {
        @include inactive($inactive_color);
    }
    &[active=true] {
        @include active($active_color);
    }
}

@mixin button($size:$medium_icon, $url:none) {
    width:$size;
    height:$size;
    @if ($url) {
        background-image: url($url);
        background-size: $size $size;
    }
    border: none;
    @include padded(0, 0);
    display: inline-block;
}

body {
    font: {
        family: $main_font_family;
        size: $main_font_size;
    }
    height: 100%;
    color: $main_text_color
}

ul {
    @include padded(0);
}

li {
    list-style-type: none;
}

#categories {
   float: left;
   @include panel;
   width: $categories_width;
}

li.category {
    @include category_label;
}

div.pane {
    @include pane;
}

img {
    border: none;
}

#search-results {
 float:left;
 @include panel;
 width: $search_results_width;
}

#input {
    @include panel;
}

tr {
    td {
        @include search_result;
    }
}

span.button.remove.category {
    @include button($small_icon, 'img/close.png')
}

@import "forms"

